.page-navigation {
  display: flex;
  justify-content: center;
  padding-top: var(--space-8);
  color: var(--text-h);
  animation: float 2.5s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(6px);
  }
}