.profile-section {
  display: grid;
  flex: 1.5;
  grid-template-columns: minmax(0, 233fr) minmax(0, 506fr) minmax(0, 963fr);
  align-items: stretch;
  gap: var(--space-16);
}

@media (max-width: 1024px) {
  .profile-section {
    grid-template-columns: minmax(0, 1fr);
  }
}
