.section-header {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.section-header__title {
  font-family: var(--font-sans-wide);
  font-weight: var(--fw-extrabold);
  font-size: var(--fs-page-title);
  letter-spacing: var(--tracking-wider);
  line-height: var(--leading-tight);
}

.section-header__index {
  font-family: var(--font-sans-wide);
  font-weight: var(--fw-medium);
  font-size: var(--fs-page-title);
  letter-spacing: var(--tracking-wider);
  line-height: var(--leading-tight);
  color: var(--text-h);
}
